* {
    margin: 02px;
    padding: 0px;
}
 body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top,#e3dddd,#626265);
 }
h4 {
    padding-top: 15px;
    margin: 10px;
    width: 100vw;
    color: rgb(37, 45, 37); 
    display: flex;
    justify-content: center;
    font-size: 20px;   
}

li {
    list-style: none;
    font-size: 1.15rem;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form {
    display: flex;
    padding: 20px;
    height: 60%;
    justify-content: center;
    margin: 50px 50px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #626265;
    box-shadow:0px 0px 6px 0px #FFD;
}
.personal-details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
label{
    font-size: 1.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    letter-spacing: 1.5px;

}

.marks {
    height: 100%;
    /* padding: 20px;
    padding-inline-start: 5px; */
    display: flex;
    align-items: center;
    flex-flow: column;
    flex-wrap: wrap;
}

footer {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
a {
    text-decoration: none;
    color: black;
}

footer p {
    pointer-events: none;
    user-select: none;
    color: #626265;
}